class Environment {
  static const String debugUrl = 'localhhost:8080';
  static const String prodUrl = 'inspr.martin.co.ke';
  static const String authorizationKey = 'inspr-XZTm7CbIQdIj5pgQi5ZZjYdyvWLaUKUPAKMeCqnTL1aAQcIbngAt8fWHy08PVSvoi4p30rJ4iaImf0VjKSKa9FVxKjiHciFZWJzdcBw2Q9Y2DV2CBC6CgyKvgFSjsjDkxLk3Xu83uAaSkkHBCkam4I4ewAyfgYOqwdu9o2JRGQ75esa96CKl7PlKRAYY9BlRTzn0Pyw90RgxzYWzNT63Y8CP5ESvm0sJ2MVcc9xMNPKCu3vTlFsbZnDkXfVhCFbwbjAVDfZqZKtSu3dKxyRqvgpwzTGnArxL5FWGjDtseyOLwRa4gwMW8MC87MVE3rBXouNqeBqFmpMEqHENbCAYIOt9fjw6xhS8XojDBYdqEZu9XxgmplWBNo76uSGgRNhd1I4HdzeK3SWLs69uvcPfPMFkRwKJp3qVpXwXpZUhNYvqEWoLOTMuVioyqTOBs04bwOCvzMP5h0zC7yap3wtd2EVwA5dU55FqZilezr6ooFKLwTWCZ7t5LD8bFW';
}
